<div id="header">
    <h1>DC Diesel</h1>
    <h2><i>A Website for the Flagflower Place Diesel Enthusiast</i></h2>
</div>
<div id="navigation">
    <ul>
    	<li>
            <a href="/fuel/station/search">Geographical Station Search</a>
        </li>
        <li>
            <a href="/fuel/">Home</a>
        </li>
        <li>
            <a href="/fuel/">About DC Diesel</a>
        </li>
        <li>
            <a href="/fuel/user/profile">My Profile</a>
        </li>
        <li>
            <a href="/fuel/">Contact us</a>
        </li>
        <li>
            <a href="/fuel/logout">Logout</a>
        </li>
		

    </ul>
</div>