{% extends "base.html" %}
{% block main %}
<div id="content" class="login">
    <p>
        Welcome to Diesel DC, we ask that you take a short moment to register for the site.
    </p>
    <table>
        <form action="/accounts/register/" method="post">
            {{ form }}
            <tr>
                <th>
                    <label>
                        &nbsp;
                    </label>
                    <input type="submit" value="Register" />
                </th>
            </tr>
        </form>
    </table>
</div>
{% endblock %}